.about-section{
    background-color: #354F52;
    padding: 20px;
    width: 50%;
    filter: drop-shadow(0 0 0.75rem #354F52);
    color: white;
}


@media (max-width: 1200px) {

}

@media (max-width: 767px) {
    .about-section{
        width: 75%;
    }
}

@media (max-width: 400px) {
    .about-section{
        width: 100%;
    }
}