.contact-title {
  font-size: 150px;
  color: #3b6064;

  -webkit-animation: floating-text 2s ease alternate infinite;
  -moz-animation: floating-text 2s ease alternate infinite;
  -ms-animation: floating-text 2s ease alternate infinite;
  -o-animation: floating-text 2s ease alternate infinite;
  animation: floating-text 2s ease alternate infinite;
}
