@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$card-bg: #84A98C;
$body-bg: #CAD2C5;
$nav-color: #2F3E46;
$Brown: #b36a5e;
$custom-blue: #52796F;
$custom-teal: #84A98C;



body{
  background-color: $body-bg;
  font-family: 'Anton';
}

h1{
  font-family: 'Anton';
}

.name{
  font-size: 100px;
  text-shadow:  #6E9F97 7px 7px;
}


.carousel-inner img {
  margin: auto;
  width: 30%;
}

.card{
  box-shadow: 4px 4px 4px #354F52;
  margin-bottom: 10px;
}

$theme-colors: (
  "nav-color": $nav-color,
  "brown": $Brown,
  "custom-blue": $custom-blue,
  "custom-teal": $custom-teal,
);

.changeColor {
  color: #3B6064;
}
.changeColor:hover {
  color: #55828B;
}


@media (max-width: 1200px) {
  .name{
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .carousel-inner img{
    width: 40%;
  }
  .name{
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .carousel-inner img{
    width: 50%;
  }
}

@import "bootstrap/scss/bootstrap";
@import './navbar.scss';
@import './about.scss';
@import './projects.scss';
@import './projects.css';
@import './animation.css';

