$nav-bg: #2F3E46;
$nav-link: #84A98C;

.navbar-text-color{
    color: $nav-link;
}

.nav-link{
    color: $nav-link;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    margin: 10px;
}

.nav-link:hover{
    text-decoration: underline;
    color: white;
}
